/*---------common sheared style------------*/
body{
    font-family: 'Open Sans', sans-serif;
}

.btn-praymery{
    background-color: #FD6E0A;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 16px 35px;
    color:#fff;
    transition: 1.2s;
}
.btn-praymery:hover{
    background-color: #FFF;
    border: 2px solid #FD6E0A;
    color:#FD6E0A;
}

.section-taitle{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color:#181818;
}
.section-disc{
    text-align: center;
    font-size: 18px;
    color:#474747;
    font-weight: 400;
}


/*------------nav related style-------------*/
  
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
    color: #181818;
    transition: all 0.8s;
}
.logo:hover .nav-title{
    color:#FD6E0A;
  }

.logo-span{
    color: #FD6E0A;
    transition: all 0.8s;
 }
.logo:hover .logo-span{
    color:#181818;
 }


nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 400;
}
nav a{
    text-decoration: none;
    color:#474747;
}
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 40%;
}
.banner{
    padding:30px 0px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-disc{
    max-width: 500px;
}
.banner .profile-pic{
    width: 500px;
}
.banner-grattin{
    font-size: 40px;
    margin-bottom: 0;
    color:#474747;
    
}
.banner-taitle{
    font-size:50px;
    font-weight: 700;
    color:#181818;
    margin-top: 5px;
    margin-bottom: 20;
}
.banner-para{
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color:#474747;
    margin-bottom: 30px;
}
.btn-secondery{
    margin-left: 20px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 16px 35px;
    color:#FD6E0A; 
    outline: none;
    transition: 1.2s;
}
.btn-secondery:hover{
    background-color: #FD6E0A;
    color:#fff;
    border: none;

}

/*-----------main---------------*/
main{
    max-width: 1240px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
.about{
    padding:130px;
    border: 10px;
    background-color: #FFF8F3;
    margin: 130px 0;
}
.info-container{
    display: flex;
    justify-content: space-around;  
}
.about-info{
    text-align: center;
}
.info-title{
    font-size: 18px;
    color:#474747;
    font-weight: 400;
}
.sec-alt{
    padding:30px 150px;
}

.skills-container{
    display: flex;
    gap: 24px;
    padding:20px;
}
.skil{
  padding:30px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.6);
  transition: 0.8s;
}
.skil:hover{
    transform: translateY(-10px);
}
.skill-disc{
    font-size: 18px;
    color:#474747;
    font-weight: 400;
}

/*-----------resume section-----------*/
.resume-container{
    display: flex;
    gap:50px;
}
.resume-title{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
}
.resume-item-inst, .resume-itms-disc{
    color:#474747;
}
.resume-item-title{
    font-size: 25px;
    font-weight: 700;
    color:#474747;
    margin-bottom: 20px;
}
.resume-container hr{
    margin: 30px;
}
.cv-btn{
    margin: 40px 0;
    text-align: center;
}